.body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.justic-primary{
    color:#B68C5A;
}
.justice-nav-btn{
border-radius: 8px;
background: #B68C5A;
border: 0;
color: #FFF;
font-family: Poppins;
font-size: 18px;
font-weight: 600;


}
